In [2]:
import pandas as pd
import os

path = "/home/secludor/langchain-kr/RAG-Practices/GAS5 CP/"
file = "공격성_1_0724_masked"

pd.set_option("display.max_column", 30)
data = pd.read_csv(os.path.join(path, file) + ".csv")
data.head(1)

,Unnamed: 0,number,title,name,date,answer_state,contents,text_morphed_masked,text_masked,has_attachment,answer_contents,charge,answer_date,registration_number,charge_name,title_and_contents,aggr,욕설_모욕,비꼼_시비,성희롱,요지불명,저격성 민원,완전중복,반복,출처
0,0,84751,몸 전체를 신끼로 감아버릴 경우,표광준,2021-04-04,답변완료,안녕하세요 과거에 있었던 일에 글을 올립니다. 과거 홍보목적으로 제가 무슨 여자친구...,안녕 하 과거 있 일 글 올리 과거 홍보 목적 무슨 여자 친구 찾 내용 주인공 몰래...,안녕 하시 어요 과거 에 있었 던 일 에 글 을 올리ㅂ니다 . 과거 홍보 목적 으...,False,1. 우리 구에 접수(접수번호 202104041101274645 2021.04.04...,자치행정국 민원봉사과,2021-04-06 18:08,2.020000e+17,손정민,몸 전체를 신끼로 감아버릴 경우 안녕하세요 과거에 있었던 일에 글을 올립니다. 과거...,1,0,0,0,1,0,False,0,광주광역시_동구

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           197 non-null    int64
 1   number               197 non-null    int64
 2   title                197 non-null    object
 3   name                 197 non-null    object
 4   date                 197 non-null    object
 5   answer_state         197 non-null    object
 6   contents             197 non-null    object
 7   text_morphed_masked  197 non-null    object
 8   text_masked          197 non-null    object
 9   has_attachment       197 non-null    bool
 10  answer_contents      186 non-null    object
 11  charge               197 non-null    object
 12  answer_date          186 non-null    object
 13  registration_number  186 non-null    float64
 14  charge_name          186 non-null    object
 15  title_and_contents   197 non-null    object
 16  aggr                 197 non-null    int64
 17  욕설_모욕                197 non-null    int64
 18  비꼼_시비                197 non-null    int64
 19  성희롱                  197 non-null    int64
 20  요지불명                 197 non-null    int64
 21  저격성 민원               197 non-null    int64
 22  완전중복                 197 non-null    bool
 23  반복                   197 non-null    int64
 24  출처                   197 non-null    object
dtypes: bool(2), float64(1), int64(9), object(13)
memory usage: 35.9+ KB

In [4]:
data[data['contents'].isnull()].shape

(0, 25)

In [5]:
data.dropna(subset=['contents'], inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           197 non-null    int64
 1   number               197 non-null    int64
 2   title                197 non-null    object
 3   name                 197 non-null    object
 4   date                 197 non-null    object
 5   answer_state         197 non-null    object
 6   contents             197 non-null    object
 7   text_morphed_masked  197 non-null    object
 8   text_masked          197 non-null    object
 9   has_attachment       197 non-null    bool
 10  answer_contents      186 non-null    object
 11  charge               197 non-null    object
 12  answer_date          186 non-null    object
 13  registration_number  186 non-null    float64
 14  charge_name          186 non-null    object
 15  title_and_contents   197 non-null    object
 16  aggr                 197 non-null    int64
 17  욕설_모욕                197 non-null    int64
 18  비꼼_시비                197 non-null    int64
 19  성희롱                  197 non-null    int64
 20  요지불명                 197 non-null    int64
 21  저격성 민원               197 non-null    int64
 22  완전중복                 197 non-null    bool
 23  반복                   197 non-null    int64
 24  출처                   197 non-null    object
dtypes: bool(2), float64(1), int64(9), object(13)
memory usage: 35.9+ KB

In [6]:
data[data['title']== '[관리자에 의해 삭제되었습니다.]'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      int64
 1   number               0 non-null      int64
 2   title                0 non-null      object
 3   name                 0 non-null      object
 4   date                 0 non-null      object
 5   answer_state         0 non-null      object
 6   contents             0 non-null      object
 7   text_morphed_masked  0 non-null      object
 8   text_masked          0 non-null      object
 9   has_attachment       0 non-null      bool
 10  answer_contents      0 non-null      object
 11  charge               0 non-null      object
 12  answer_date          0 non-null      object
 13  registration_number  0 non-null      float64
 14  charge_name          0 non-null      object
 15  title_and_contents   0 non-null      object
 16  aggr                 0 non-null      int64
 17  욕설_모욕                0 non-null      int64
 18  비꼼_시비                0 non-null      int64
 19  성희롱                  0 non-null      int64
 20  요지불명                 0 non-null      int64
 21  저격성 민원               0 non-null      int64
 22  완전중복                 0 non-null      bool
 23  반복                   0 non-null      int64
 24  출처                   0 non-null      object
dtypes: bool(2), float64(1), int64(9), object(13)
memory usage: 0.0+ bytes

In [7]:
data[(data['title']== '[관리자에 의해 삭제되었습니다.]') & (data['name']=='신윤자')]

Empty DataFrame
Columns: [Unnamed: 0, number, title, name, date, answer_state, contents, text_morphed_masked, text_masked, has_attachment, answer_contents, charge, answer_date, registration_number, charge_name, title_and_contents, aggr, 욕설_모욕, 비꼼_시비, 성희롱, 요지불명, 저격성 민원, 완전중복, 반복, 출처]
Index: []

In [9]:
data['text_masked']

0       안녕 하시 어요 과거 에 있었 던 일 에 글 을 올리ㅂ니다 . 과거 홍보 목적 으...
1       항상출퇴근하면서 보는 불법 쓰레기 현수막 이 있습니다 . `지역` `지역` 곧곧에...
2       도로 가 파손되어서 차 가 지나가면 물 이 튀어나오았 옷 이 젖고 신발 이 젖어 ...
3       안녕 하시 어요 천예령 특수 고용직 신청 을 하았었 고 그 에 관련하 여 백* *...
4       병원 에 가려고 전대 병원 앞 `지역` 안과 로 진료 를 받으러 2020- 05-...
                             ...
192     `지역` 빌라 1차 쓰레기 처리 에 대하어 건의하았 던 사람 이ㅂ니다 . 저 가 ...
193     추석연 휴 친정 에서 이틀 있었 습니다 ....`지역` 빌라 1차이 이ㅂ니다 . ...
194     지나ㄴ 8월 달 에 몇차례 문의 드리었 는데 ...아직까지 방지 턱 설치 가 안되...
195     군수 님..건축 과장 님..안녕 하시 ㅂ니까 ? 지나ㄴ 10월 11일 일요일 오전...
196     군도 18호선 미개 설공 사 촉구 의 건 에 대하여 부여군 건설과 도로계 의 대답...
Name: text_masked, Length: 197, dtype: object